#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0%;
    left: 0%;
}

#header p{
    color: #1a1a1a;
    font-weight: 600;
}

#header span{
    color: #088178; 
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0px 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3 ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    position: absolute;
    background: #088178;
    bottom: -4px;
    left: 20%;
}


/* Footer */
footer{
    background: #e3e6f3;
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
    
}

footer h3{
    color: #088178;
}
footer a{
    color: #1a1a1a;
}
footer h4{
    color: white;
}

.footer_logo{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    display: inline-block;
}

.permalinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin:1rem ;
}

.footer_social{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.footer_social a{
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
    background: white;
}

.footer_social a:hover{
    color:black ;
    background: transparent;

}

.footer_copyright{
    margin-bottom: 1rem;
}
